/* Application: layouts. */
div {
    text-align: center;
    gap: 10px;
}
.Column {
    display: flex;
    flex-direction: column;
}
.Grid {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    justify-items: center;
}
.GridControls {
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
    justify-items: right;
    justify-content: center;
}
